
.main-landing-container {
  height:100vh;
  display:flex;

}
.photo-container {
  background-color:pink;
  height:100vh;
  width:50%;
}

.content-container {
  background-color:orange;
  height:100vh;
  width:50%;
}
